<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>InternetSystems464</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>flight.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>flight.servlet.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightSearchQuery</display-name>
		<servlet-name>FlightSearchQuery</servlet-name>
		<servlet-class>flight.servlet.FlightSearchQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightSearchQuery</servlet-name>
		<url-pattern>/FlightSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAndBook</display-name>
		<servlet-name>ViewAndBook</servlet-name>
		<servlet-class>flight.servlet.ViewAndBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAndBook</servlet-name>
		<url-pattern>/ViewAndBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightSearchResults</display-name>
		<servlet-name>FlightSearchResults</servlet-name>
		<servlet-class>
			flight.servlet.FlightSearchResults
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightSearchResults</servlet-name>
		<url-pattern>/FlightSearchResults</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ConfirmTransaction</display-name>
		<servlet-name>ConfirmTransaction</servlet-name>
		<servlet-class>flight.servlet.ConfirmTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmTransaction</servlet-name>
		<url-pattern>/ConfirmTransaction</url-pattern>
	</servlet-mapping>
</web-app>